extends include/layout.pug

block content
    h1= title

    if user_data["data"]["users"]
        ul(style="margin-bottom: 20px;")
            each user in user_data["data"]["users"]
                li
                    a(href=url_for("user", user_id=user["ID"])) #{user["first_name"]} #{user["last_name"]}
    else
        p There are no Users

    a.big_btn.new_form(href=url_for("create_user")) Create new user
